
@font-face {
  font-family: "title";
  src:url("../fonts/title.ttf");
}
@font-face {
    font-family: "select";
    src: url("../fonts.select.ttf");
}
@media screen and (max-width:993px){
  .githeader, .inheader{
    display: none;
  }
}
@media screen and (min-width:768px){
  .frontendcomp{
    border-right: 0.1em solid black;
  }
  .cadrephotomoi{
    border-right: 0.1em solid black;
  }
}
/* @media screen and (min-width:514px){
  .centertopnav{
  line-height: 2em;
  font-size: 120%; 
  }
}
@media screen and (max-width:514px){
  .centertopnav{
  line-height: 2.8em;
  font-size: 90%; 
  }
} */
body{
  background-color: #242730;
}
a{
  outline-style: none;
}
/* Début du top */
.top{
  height: 25rem;
  background-image: url("../img/backgroundtop.png");
}
.logogithead{
  width: 10em;
  margin-top: 7em;
  float: right;
}
.presheader{
  text-align: center;
}
.toppres{
  margin-top: 5em;
}
.titletop{
  font-size: 2.7em;
  color: white;
  font-family: "title";
  text-shadow: 4px 2px black;
}
.downpres{
  margin-top: 10%;
}
.logolinkhead{
  width: 10em;
  margin-top: 7em;
}
/* Fint du top */
/* Début de la navbar */
.cadrenav{
  height: 2.5em;
}
.topnav{
  height: 2.5em;
  background-color: #4ee7d0;
}
.lefttopnav{
  text-align: right;
  padding-right: 0%;
}
.centertopnav div{
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  color: black;
  font-family: "title";
  line-height: 2em;
  font-size: 120%;
  text-shadow: 2px 2px white;
  transition-duration: 0.4s;
}
.centertopnav div:hover{
  background-color: #007bff;
  border-radius: 3em;
  transition-duration: 0.4s;
}
.righttopnav{
  text-align: left;
  padding-left: 0%;
}
.navpng{
  width: 2em;
  padding-top: 0.3em;
  transition-duration: 0.3s;
}
.navpng:hover{
  width: 2.7em;
  padding-top: 0em;
  transition-duration: 0.3s;
}
/* Fint de la navbar */
/* Début du menu */
.select{
  min-height: 31.4em;
}
.select a div{
  height: 80%;
  line-height: 4.5em;
  margin-top: 0.5em;
  font-size: 3em;
  font-family: "title";
  text-shadow: 4px 2px black;
  text-align: center;
  background-size: 200%;
  background-position-y: 60%;
  background-position-x: 50%;
  transition-duration: 0.3s;
}
.select a div:hover{
  border-radius: 3em;
  background-size: 250%;
  transition-duration: 0.3s;
}
.selectme{
  background-image: url("../img/selectmoi.jpeg");
}
.selectcomp{
  background-image: url("../img/selectcomp.jpeg");
}
.selectexp{
  background-image: url("../img/selectexp.jpg");
}
.selectform{
  background-image: url("../img/selectform.jpeg");
}
/* Fint du menu */
/* Début de me */
.topmoi{
  margin-top: 1em;
  min-height: 30em;
}
.cadrephotomoi{
  text-align: center;
}
.photomoipng{
  width: 100%;
  max-width: 42em;
  margin-top: 1em;
  border-radius: 50%;
  transition-duration: 0.3s;
}
.photomoipng:hover{
  border-radius: 20%;
  transition-duration: 0.3s;
}
.sepme{
  border-top: 0.1em solid black;
}
.informationmoi{
  font-size: 325%;
  color: white;
  text-shadow: 4px 2px black;
}
.ligneinfomoi{
  margin-top: 1em;
  color: white;
  text-shadow: 3px 2px black;
  transition-duration: 0.3s;
}
.ligneinfomoi:hover{
  font-size: 120%;
  transition-duration: 0.3s;
}
.sepme{
  margin-left: 2%;
}
.sepdownme{
  border-top: 0.1em solid black;
}
.presdownmoi{
  margin-top: 0.5%;
  font-size: 150%;
  padding-left: 1.5%;
  color: white;
  text-shadow: 4px 2px black;
}
/* Fint de me */
/* Début de comp */
.titlecomp{
  height: 1.6em;
  font-size: 3em;
  color: white;
  text-shadow: 4px 2px black;
  text-align: center;
}
.topcomp div{
  float: left;
}
.frontendcomp{
  height: 30em;
}
.frontendtitle{
  font-size: 2em;
  color: white;
  text-align: center;
}
.htmldiv{
  width: 100%;
  margin-top: 3%;
}
.htmltitle{
  color: white;
}
.htmlprogress{
  width: 100%;
}
.progressbarhtml{
  width: 90%;
}
.cssdiv{
  width: 100%;
  height: 10%;
  margin-top: 3%;
}
.csstitle{
  color: white;
}
.cssprogress{
  width: 100%;
}
.progressbarcss{
  width: 90%;
}
.backendcomp{
  height: 30em;
}
.backendtitle{
  font-size: 2em;
  color: white;
  text-align: center;
}
.sepcompdown{
  border-top: 0.1em solid black;
}
.downcomp{
  height: 10em;
  margin-top: 0.5em;
}
.syscomp{
  height: 70%;
}
.syscomp div{
  float: left;
}
.syscomptitle{
  font-size: 2em;
  color: white;
  text-align: center;
}
.windowscomp{
  height: 90%;
}
.progresswindows{
  width: 80%;
  height: 30%;
  margin-top: 4%;
  margin-left: 10%;
  background-color: #041634;
  border-radius: 1em;
}
.namewindows{
  width: 15%;
  font-size: 70%;
  color: white;
  line-height: 2.5em;
  text-align: center;
}
.progressbarwindows{
  width: 69.5%;
  height: 100%;
  background-color: #0b46a3;
  border-bottom-left-radius: 2em;
}
.pourcentagewindows{
  width: 15.5%;
  height: 100%;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: #aaa699;
  text-align: right;
  padding-right: 1%;
  line-height: 2em;
}
.ubuntucomp{
  height: 90%;
}
.progressubuntu{
  width: 80%;
  height: 30%;
  margin-top: 4%;
  margin-left: 10%;
  background-color: #041634;
  border-radius: 1em;
}
.nameubuntu{
  width: 15%;
  font-size: 70%;
  color: white;
  line-height: 2.5em;
  text-align: center;
}
.progressbarubuntu{
  width: 60%;
  height: 100%;
  background-color: #0b46a3;
  border-bottom-left-radius: 2em;
}
.pourcentageubuntu{
  width: 25%;
  height: 100%;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: #aaa699;
  text-align: right;
  padding-right: 1%;
  line-height: 2em;
}
/* Fint de comp */
