@media screen and (min-width:1500px){
}
@font-face {
  font-family: "title";
  src:url("../fonts/title.ttf");
}
@font-face {
    font-family: "select";
    src: url("../fonts.select.ttf");
}
body{
  background-color: #c9cacc;
}
a{
  outline-style: none;
}
.top{
  height: 25rem;
  background-image: url("../img/backgroundtop.png");
}
.logogithead{
  width: 30%;
  float: right;
  margin-top: 18%;
}
.presheader{
  text-align: center;
}
.toppres{
  margin-top: 20%;
}
.titletop{
  font-size: 2.7em;
  color: white;
  font-family: "title";
  text-shadow: 4px 2px black;
}
.downpres{
  margin-top: 10%;
}
.logolinkhead{
  width: 32%;
  margin-top: 15%;
}
/* Fint du top */
/* Début de la navbar */
.cadrenav{
  height: 2.5em;
}
.topnav{
  height: 2.5em;
  background-color: #4ee7d0;
}
.lefttopnav{
  text-align: right;
}
.centertopnav div{
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 2.5em;
}
.righttopnav{
  text-align: left;
}
.navpng{
  width: 2em;
  padding-top: 1%;
}
/* Fint de la navbar */
/* Début du menu */
.select{
  height: 31.4em;
}
.select a div{
  height: 80%;
  padding-top: 12%;
  margin-top: 0.5em;
  font-size: 3em;
  font-family: "title";
  text-shadow: 4px 2px black;
  text-align: center;
  background-size: 100%;
  background-position-y: 60%;
}
.selectme{
  background-image: url("../img/selectmoi.jpeg");
}
.selectcomp{
  background-image: url("../img/selectcomp.jpeg");
}
.selectexp{
  background-image: url("../img/selectexp.jpg");
}
.selectform{
  background-image: url("../img/selectform.jpeg");
}
/* Fint du menu */
/* Début de me */
.photomoipng{
  width: 50%;
}
.sepme{
  border-top: 0.1em solid black;
}
.informationmoi{
  font-size: 325%;
}
.sepme{
  margin-left: 2%;
}
.cadrephotomoi{
  border-right: 1px solid black;
}
.sepdownmoi{
  width: 100%;
}
.sepdownme{
  border-top: 0.1em solid black;
}
.presdownmoi{
  margin-top: 0.5%;
  font-size: 150%;
  padding-left: 1.5%;
}
